$light-blue: #4448ae;
$teal: #064a5a;
$peach: #f8b591;
$orange: #f4473a;

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$headline: 'Fredoka One', cursive;

body {
    margin: 0;
}

.header {
    box-shadow: 5px 10px #888888;
    &-wrapper {
        background-color: $light-blue;
        align-items: center;
        img {
            height: calc(150px + 1em);
        }
    }
}

nav {
    li {
        list-style: none;
        display: inline;
        margin: 10px;
        text-decoration: none;
    }
}

.home {
    .mask {
        height: 100vh;
        background-image: url('./assets/images/bg.JPG');
        background-position: center;
        background-repeat: no-repeat;
        
        
        &-img {
   
            background: rgba(45, 62, 194, 0.707);
            height: 100%;

            img {
                height: calc(350px + 1em);
            }
        
            .cta-nav{
                
                h4 {
                    color: white;
                    font-family: $headline;
                    font-size: 23px;
                    padding-bottom: 20px;
                }
                       
               li {
                   list-style: none;
                   padding: 15px;
                   border: solid 1px white;
                   border-radius: 25px;
                   margin: 5px;
                   font-size: 18px;
                   display: inline;
                   
                    &:hover {
                        background: linear-gradient(#e664e4, #9242be);
                    }
                   
                   a {
                       color: white;
                       text-decoration: none;
                       font-family: $headline;
                   }
               }

            }
           
       }
   }
   
    }

.service {
    &-wrapper {
        height: 80vh;
        background-image: url('./assets/images/bg.JPG');
        background-position: center;
        background-repeat: no-repeat;
       
       
        .mask {
            background: rgba(45, 62, 194, 0.707);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            h1 {
                font-family: $headline;
                font-size: calc(40pt + 1em);
                color: white;
            }
            
          
        }
    }
    

}



//hamburger menu keyframesv
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        width: 95%;
    }
    100% {
        width: 90%;
    }
}