

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
$headline: 'Raleway', sans-serif;;

body {
    margin: 15px;
   // background-color: rgb(214, 243, 231);
}
.jumbotron {
    background-image: url(./assets/images/bg.JPG);
    height: 90vh;
    padding: 2%;
   
    h1 {
        font-family: $headline;
        color: white;
        font-size: 13vh;
        margin: 0;
       
    }
    .mask {
        height: 100%;
        background: linear-gradient(180deg, rgba(29, 18, 26, 0.4992) 69.66%, rgba(23, 161, 170, 0.2444) 100%);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
          
    }

    .cta {
        padding-top: 15%;

        &-nav {
            font-family: $headline;
            
          
        }
    }
}
.header {
    box-shadow: 5px 10px #888888;
    &-wrapper {
       
        align-items: center;
       
        img {
            height: calc(150px + 1em);
        }
    }
}

nav {
    li {
        list-style: none;
        display: inline;
        margin: 10px;
        text-decoration: none;
    }
}



.service {
    margin-top: 13%;

    .container {
        height: 55vh;
        background-color: rgba(170, 92, 243, 0.795);
        padding: .75%;
        border-radius: 15px;
    }
    
    &-img-wrapper {
        height: 100%;
        float: left;
    }
   img {
       height: 100%;
       border-radius: 15px;
   }
    
    &-text {
       
       
        font-family: $headline;
       
    }

    p {
        width: 50%;
        line-height: 2;
        font-size: 16pt;
    }
}


//hamburger menu keyframesv
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        width: 95%;
    }
    100% {
        width: 90%;
    }
}

@media (max-width: 750px) {
    .mask-img {
        img {
            height: 60%;
        }
    }
}